.qna-container {
  text-align: left;
  margin: 20px;
}

.qna-container .qna {
  border: 2px solid crimson;
  padding: 10px;
  margin-bottom: 20px;
}

.qna h2 {
  color: crimson;
}

.qna p {
  font-size: 20px;
}