.review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px;
  text-align: center;
}

.review-container div {
  border: 2px solid var(--primary-color);
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .review-container {
    grid-template-columns: repeat(2, 1fr);
  }
}